.swiper {
    height: 92.5vh;  
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;
}

.movie {
    display: none !important;
}